body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.back {
  z-index: -2;
  position: fixed;
}

.common-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.middle-font {
  color: #573d0e;
  font-family: BM HANNA 11yrs old OTF;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fixed-top-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 36vh;
  height: auto;
  z-index: -1;
}

.fixed-bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 36vh;
  height: auto;
  z-index: -1;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 36vh;
  height: auto;
  z-index: -1;
}
.middle-font-small {
  color: #573d0e;
  text-align: center;
  font-family: NanumSquare;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  .fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 20vh;
    height: auto;
  }

  .fixed-bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20vh;
    height: auto;
  }

  .fixed-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20vh;
    height: auto;
  }
}

.box {
  height: 264px;
  width: 240px;
  display: relative;
  border-radius: 30px;
}

.box .popup-check {
  height: 264px;
  position: fixed;
  width: 240px;
}

.box .overlap {
  height: 264px;
  position: relative;
}

.box .rectangle {
  background-color: #ffffff;
  border-radius: 14px;
  height: 263px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 240px;
}

.box .element {
  height: 74px;
  left: 23px;
  position: absolute;
  top: 163px;
  width: 198px;
}

.box .text-wrapper {
  color: #04070c;
  font-family: "NanumSquare-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 194px;
}

.box .div {
  color: #26282c;
  font-family: "NanumSquare-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 34px;
  width: 194px;
}

.box .rectangle-2 {
  background-color: #abc902;
  border-radius: 14px 14px 0px 0px;
  height: 132px;
  left: 0;
  position: absolute;
  top: 0;
  width: 240px;
}

.box .https-app {
  height: 100px;
  left: 71px;
  object-fit: cover;
  position: absolute;
  top: 109px;
  width: 100px;
}

.box .view {
  background-image: url(https://generation-sessions.s3.amazonaws.com/ac5fb4c88857d0a962678fb56854c157/img/combined-shape.svg);
  background-size: 100% 100%;
  height: 102px;
  left: 66px;
  position: absolute;
  top: 30px;
  width: 120px;
}

.box .overlap-group {
  height: 48px;
  left: 7px;
  position: relative;
  top: 39px;
  width: 113px;
}

.box .oval-copy {
  background: linear-gradient(
    180deg,
    rgb(232.09, 117.02, 117.02) 0%,
    rgba(204.53, 64.6, 64.6, 0) 100%
  );
  border-radius: 21.5px;
  height: 43px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 43px;
}

.box .oval-copy-2 {
  background: linear-gradient(
    180deg,
    rgb(232.09, 117.02, 117.02) 0%,
    rgba(204.53, 64.6, 64.6, 0) 100%
  );
  border-radius: 21.5px;
  height: 43px;
  left: 70px;
  position: absolute;
  top: 5px;
  width: 43px;
}

.box .oval {
  background-color: #ffffff;
  border-radius: 9.5px;
  height: 19px;
  left: 34px;
  position: absolute;
  top: 0;
  width: 19px;
}

.box .oval-copy-3 {
  background-color: #ffffff;
  border-radius: 9.5px;
  height: 19px;
  left: 60px;
  position: absolute;
  top: 0;
  width: 19px;
}

.box .oval-2 {
  background-color: #1b2334;
  border-radius: 6px;
  height: 12px;
  left: 38px;
  position: absolute;
  top: 7px;
  width: 12px;
}

.box .oval-copy-4 {
  background-color: #1b2334;
  border-radius: 6px;
  height: 12px;
  left: 64px;
  position: absolute;
  top: 7px;
  width: 12px;
}

.box .path {
  height: 9px;
  left: 35px;
  position: absolute;
  top: 27px;
  width: 47px;
}

.box .overlap-wrapper {
  height: 76px;
  left: 40px;
  position: absolute;
  top: 75px;
  width: 90px;
}

.box .overlap-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/ac5fb4c88857d0a962678fb56854c157/img/polygon-1.svg);
  background-size: 100% 100%;
  height: 57px;
  left: 6px;
  position: relative;
  width: 78px;
}

.box .overlap-group-2 {
  height: 24px;
  left: 31px;
  position: absolute;
  top: 32px;
  width: 24px;
}

.box .oval-3 {
  background-color: #ab781d;
  border-radius: 6.97px/4.5px;
  height: 9px;
  left: 0;
  position: absolute;
  top: 12px;
  transform: rotate(15deg);
  width: 14px;
}

.box .oval-copy-5 {
  background-color: #ffffff;
  border-radius: 7.5px;
  height: 15px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 15px;
}

.box .oval-copy-6 {
  background-color: #1b2334;
  border-radius: 4.9px;
  height: 10px;
  left: 11px;
  position: absolute;
  top: 4px;
  width: 10px;
}

.box .img {
  height: 8px;
  left: 23px;
  position: absolute;
  top: 35px;
  width: 14px;
}
.box-wether .element-weather {
  height: 107px;
  width: 216px;
}

.box-wether .element-title {
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  width: 54px;
}

.box-wether .group {
  height: 33px;
}

.box-wether .title {
  height: 33px;
  position: relative;
  width: 56px;
}

.box-wether .text-wrapper {
  color: #573d0e;
  font-family: "BM HANNA 11yrs old OTF-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.box-wether .icon {
  height: 62px;
  left: 0;
  position: absolute;
  top: 45px;
  width: 42px;
}

.box-wether .div-wrapper {
  height: 16px;
  left: 5px;
  position: absolute;
  top: 46px;
  width: 30px;
}

.box-wether .div {
  color: #404040;
  font-family: "BM HANNA 11yrs old OTF-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.box-wether .icon-2 {
  background-size: 100% 100%;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 42px;
}

.box-wether .icon-3 {
  height: 62px;
  left: 58px;
  position: absolute;
  top: 45px;
  width: 42px;
}

.box-wether .icon-cloudy-wrapper {
  background-color: #ffffff;
  border: 2px solid;
  border-color: #222222;
  border-radius: 40px;
  box-shadow: 2px 4px 8px -11.63px #15334f1a;
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 42px;
}

.box-wether .icon-cloudy {
  height: 30px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 30px;
}

.box-wether .icon-4 {
  height: 62px;
  left: 116px;
  position: absolute;
  top: 45px;
  width: 42px;
}

.box-wether .title-2 {
  height: 16px;
  left: 13px;
  position: absolute;
  top: 46px;
  width: 15px;
}

.box-wether .img-wrapper {
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 2px 4px 8px -11.63px #15334f1a;
  height: 42px;
  position: absolute;
  width: 42px;
}

.box-wether .img {
  height: 30px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 30px;
}

.box-wether .icon-5 {
  height: 62px;
  left: 174px;
  position: absolute;
  top: 45px;
  width: 42px;
}

.box-wether .title-3 {
  height: 16px;
  left: 12px;
  position: absolute;
  top: 46px;
  width: 15px;
}
.box-wether {
  position: relative;
}
.label {
  height: 33px;
  width: 81px;
}

.label .text-wrapper {
  color: #573d0e;
  font-family: "BM HANNA 11yrs old OTF-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
}
